.cart-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 5px;
}

.cart-table {
    width: 70%;
    border-collapse: collapse;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-table th {
    text-align: left;
    padding: 15px;
    background: #f9f5ef;
    font-weight: 600;
}

.cart-table td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

.cart-product {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-product img {
    width: 70px;
    /* height: 70px; */
    border-radius: 5px;
    object-fit: cover;
}

input[type="number"] {
    width: 50px;
    padding: 4px;
    text-align: center;
}

.delete-icon {
    color: #d28a00;
    cursor: pointer;
    transition: 0.3s;
}

.delete-icon:hover {
    color: #b16a00;
}

/* Tổng tiền */
.cart-summary {
    width: 30%;
    background: #f9f5ef;
    padding: 25px;
    border-radius: 10px;
}

.cart-summary h3 {
    margin-bottom: 20px;
    font-weight: 700;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-row.total {
    font-weight: 600;
}

.highlight {
    color: #d28a00;
}

.checkout-btn {
    background-color: transparent;
    color: #c48b3b;
    border: 1px solid #c48b3b;
    padding: 10px 40px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.checkout-btn:hover {
    background-color: #c48b3b;
    color: white;
}



/* Footer dịch vụ */
.cart-footer {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    background: #f9f5ef;
    padding: 25px 0;
    border-radius: 8px;
}

.service-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-item i {
    font-size: 24px;
    color: #2e2e2e;
}

.service-item h4 {
    margin: 0;
    font-weight: 600;
}

.service-item p {
    margin: 0;
    font-size: 13px;
    color: #777;
}