.comment-detail .box {
    background: #fff;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 16px;
}

.detail-image {
    max-width: 300px;
    margin-top: 10px;
    border-radius: 6px;
}

.btn-back {
    background: none;
    padding: 8px 14px;
    border: none;
    font-size: 16px;
    color: #007BFF;
    margin-bottom: 15px;
    cursor: pointer;
}
.btn-back:hover {
    background-color:#c0c0c0 ;
}
