td button edit-btn,
td button delete-btn {
    border: none;
    border-radius: 6px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 8px;
    font-weight: 500;
}



.filters {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    align-items: center;
}

.filters input[type="text"] {
    min-width: 320px;
}


.filters input,
.filters select {
    padding: 5px 14px;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 14px;
    min-width: 180px;
    background: #fff;
    transition: all 0.2s ease;
    outline: none;
    color: #000;
}

.filters input:hover,
.filters select:hover {
    border-color: #999;
}

.filters input:focus,
.filters select:focus {
    border-color: #4c8bf5;
    box-shadow: 0 0 0 2px rgba(76, 139, 245, 0.25);
}

.modal-content select {
    width: 100%;
    padding: 10px 14px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    margin-bottom: 15px;
    outline: none;
    transition: all 0.2s ease;
}
.modal-content select option {
    border-radius: 5px;
}

.modal select:focus {
    border-color: #4c8bf5;
    box-shadow: 0 0 0 2px rgba(76, 139, 245, 0.2);
}

.modal button {
    padding: 10px 16px;
    border-radius: 8px;
}
/* Nền phủ mờ toàn màn hình */
.modal-user {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* rất quan trọng */
}

/* Khung nội dung modal */
.modal-user .modal-content {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 450px;
    max-height: 85vh;
    overflow-y: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    animation: popup 0.25s ease;
}

/* Animation popup */
@keyframes popup {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-user .modal-content button {
    margin-top: 15px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #4c8bf5;
    color: white;
    cursor: pointer;
}

.modal-user .modal-content button:hover {
    opacity: 0.9;
}
