.banner {
  margin-top: 20px;
  text-align: center;
}

.top-images {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.top-images img {
  border-radius: 20px;
  width: 1280px;
  height: 700px;
  object-fit: cover;
}

.banner-text {
  margin: 40px 0;
}

.image-categories {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.image-categories div {
  text-align: center;
}

.image-categories img {
  width: 300px;
  height: 380px;
  border-radius: 15px;
  object-fit: cover;
}
