.header {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}


.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  gap: 8px;
}
.logo a {
   font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #666666;
}
.logo a:hover {
  color: #b88e2f;
}

.logo img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
}
.nav li {
  text-decoration: none;
  list-style: none;
}

.nav a:hover {
  color: #b88e2f;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 18px;
  cursor: pointer;
}

.icons i:hover {
  color: #b88e2f;
}
/* Icon User */
.user-menu-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Menu dropdown khi click mở */
.user-dropdown-menu {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  min-width: 180px;
  padding: 8px 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  z-index: 200;
  animation: fadeIn 0.25s ease;
}

/* Các item trong menu */
.user-dropdown-menu .dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: 0.2s;
  
}

.user-dropdown-menu .dropdown-item:hover {
  background-color: #f7f7f7;
  color: #b88e2f;
}

/* Hiệu ứng mượt */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
/* Đăng xuất */
.logout-btn {
  background: none;
  border: none;
  color: #000;
  font-size: 15px;
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;
}

.logout-btn:hover {
  color: #b88e2f;
  background-color: #f9f9f9;
}
