.header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  gap: 8px;
}

.logo img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  transition: 0.2s;
}
.nav li {
  text-decoration: none;
  list-style: none;
}

.nav a:hover {
  color: #b88e2f;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 18px;
  cursor: pointer;
}

.icons i:hover {
  color: #b88e2f;
}
