.products {
  margin: 60px 0;
}

.products h2 {
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-items: center;
  padding: 0 60px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
 color: #b88e2f;
  font-weight: 600;
  margin-bottom: 10px;
}
.show-more-container {
  text-align: center;
  margin-top: 20px;
}

.buy-btn button {
 background-color: #000;
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.buy-btn button:hover {
  background-color: #b88e2f;
  color: white;
}
.show-more-btn {
  background-color: transparent;
  color: #c48b3b;
  border: 1px solid #c48b3b;
  padding: 10px 40px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.show-more-btn:hover {
  background-color: #c48b3b;
  color: white;
}
